<%= render :partial => 'kopal/home/page_meta' %>
<%= render_filters_for_home  %>
<% content_for :surface_above do %>
<div class="surface_above">
  <h1><%= @profile_user.feed.name %></h1>
  <blockquote class="status-message"><%= @profile_user.status_message %></blockquote>
</div>
<% end %>

<% content_for :surface_left do %>
  <%= link_to image_tag(@kopal_route.home(:action => 'profile_image'),
    :alt => 'Profile image', :title => "Profile picture of #{@profile_user}"),
    @kopal_route.root,
    {:title => "Go to homepage of #{@profile_user}"} %>
  <ul>
    <li><%= link_to(tk(:home), @kopal_route.root,
          {:title => tk(:profile_homepage_of_person, :person => @profile_user.feed.name)}) %></li>
    <li><%= link_to "Profile", tk(:page_path), {:title => "View profile pages of #{@profile_user}"} %></li>
    <li><%= link_to("Shoutbox", @kopal_route.profile_comment,
      :title => "View profile comments for #{@profile_user.feed.name}") %></li>
    <li><%= link_to(tk(:friend_count, :count => @profile_user.profile.friends.count), @kopal_route.friend,
          :title => tk(:view_friends_of_person, :person => @profile_user.feed.name)) %></li>
  </ul>
  <hr />
  <ul>
  <% if @signed_user %>
    <li><%= link_to(tk(:sign_out), sign_out_path, {:title => tk(:sign_out), :method => :delete }) %></li>
  <% else %>
    <li><%= link_to(tk(:sign_in), sign_in_path, {:title => tk(:sign_in)}) %></li>
    <li><%= link_to("Add as friend", @kopal_route.home(:action => 'foreign',
      :subject => 'request-friendship'),
      {:title => "Add #{@profile_user.feed.name} as your friend."}) %></li>
    <!-- <li><%= link_to("Send a message") %></li> -->
  <% end %>
  </ul>
<% end %>