<%= render :partial => 'navigation' %>

<h2>Identity</h2>
<% if @signed_user %>
  <p class="helper"><%= link_to("Edit identity", edit_organise_profile_path(kopal_profile.id),
    {:title => tk(:edit_your_profile)}) %></p>
<% end %>
<% if @profile_user.created_identity? %>
  <table>
    <tr>
      <td><%=  tk(:real_name).to_str.titlecase %></td>
      <td><%= @profile_user.feed.real_name %></td>
    </tr>
    <tr>
      <td><%= tk :aliases %></td>
      <td><%= @profile_user.feed.aliases.join("<br />") %></td>
    </tr>
    <tr>
      <td><%= tk :about_me %></td>
      <td><%= @profile_user.feed.description%></td>
    </tr>
    <tr>
      <td><%= tk :gender %></td>
      <td><%= @profile_user.feed.gender %></td>
    </tr>
    <tr>
      <td><%= tk :date_of_birth %></td>
      <td><%= @profile_user.dob_with_age %></td>
    </tr>
    <tr>
      <td><%= tk :country %></td>
      <td><%= @profile_user.feed.country_living_with_code %></td>
    </tr>
    <tr>
      <td><%= tk :city %></td>
      <td><%= @profile_user.feed.city_with_code %></td>
    </tr>
  </table>
<% else %>
  <p><%= tk :user_has_not_yet_created_her_identity %></p>
<% end %>

<h2>Profile</h2>

<p class="helper"><%#= link_to "View all profile pages", Kopal.route.page,
  :title => "View profile pages of #{@profile_user}" %></p>

  <%#= as_cloud @pages_as_cloud, {:limit => 4, :max_font_size => 17} %>

<p>&nbsp;</p>

<h2>Shoutbox</h2>

<p class="helper"><%= link_to "Write a comment &raquo;".html_safe, kp(:profile_comments_path, :anchor => 'write'),
    :title => "Write something for #{@profile_user}" %></p>

<% @comments.reverse.each do |c| %>
  <%= render :partial => 'kopal/profile_comments/comment_ribbon', :locals => { :comment => c } %>
<% end %>

<p class="helper"><%= link_to "View more comments &raquo;".html_safe, @kopal_route.profile_comment,
  :title => "Shoutbox for #{@profile_user}" %></p>