<%= render :partial => 'page_meta' %>
<%= render_filters_for_home  %>
<% content_for :surface_above do %>
<div class="surface_above">
  <h1><%= @profile_user.feed.name %></h1>
  <blockquote class="status-message"><%= @profile_user.status_message %></blockquote>
<% end %>

<% content_for :surface_left do %>
  <%= link_to image_tag(@kopal_route.home(:action => 'profile_image'),
    :alt => 'Profile image', :title => "Profile picture of #{@profile_user}"),
    @kopal_route.root,
    {:title => "Go to homepage of #{@profile_user}"} %>
  <ul>
    <li><%= link_to(t(:home), @kopal_route.root,
          {:title => t(:profile_homepage_of_person, :person => @profile_user.feed.name)}) %></li>
    <li><%= link_to "Profile", @kopal_route.page, {:title => "View profile pages of #{@profile_user}"} %></li>
    <li><%= link_to("Shoutbox", @kopal_route.profile_comment,
      :title => "View profile comments for #{@profile_user.feed.name}") %></li>
    <li><%= link_to(t(:friend, :count => 2), @kopal_route.friend,
          :title => t(:view_friends_of_person, :person => @profile_user.feed.name)) %></li>
  </ul>
  <hr />
  <ul>
  <% if @visiting_user.homepage? %>
    <li><%= link_to(t(:sign_out), @kopal_route.signout, {:title => t(:sign_out)}) %></li>
  <% else %>
    <li><%= link_to(t(:sign_in), @kopal_route.signin, {:title => t(:sign_in)}) %></li>
    <li><%= link_to("Add as friend", @kopal_route.home(:action => 'foreign',
      :subject => 'friendship-request'),
      {:title => "Add #{@profile_user.feed.name} as your friend."}) %></li>
    <!-- <li><%= link_to("Send a message") %></li> -->
  <% end %>
  </ul>
</div>
<% end %>