<%= render :partial => 'navigation'  %>

<p class="helper"><%= link_to "Write &raquo;", "\#write",
    :title => "Write something for #{@profile_user}" %></p>

  <h2>Shoutbox</h2>

<% @comments.each do |comment| %>
  <%=  render :partial => 'comment_ribbon', :locals => { :comment => comment } %>
<% end %>

<p class="helper"><%= will_paginate @comments %></p>

<a name="write"></a>
<h2>Write</h2>

<%= error_messages_for 'profile_comment' %>

<% form_for :profile_comment do |f| %>
  <% unless @visiting_user.signed? %>
    <%= f.label :name %> &ndash; <br />
    <%= f.text_field :name %> <br />
    <%= f.label :email %> &ndash; <br />
    <%= f.text_field :email %> <br />
    <%= f.label :"website_address_(optional)" %> &ndash; <br />
    <%= f.text_field :website_address %> <br />
  <% else %>
    You are signed in as - <%= @visitor.kopal_identity %>
  <% end %>
  <%= f.label :comment %> &ndash; <br />
  <%= f.text_area :comment_text, :style => "height: 150px; width: 470px" %> <br />
  <% if can_use_recaptcha? %>
    <%= recaptcha_tags %>
  <% end %>
  <%= f.submit "Submit Comment!" %>
<% end %>