<%= render :partial => 'navigation' %>

<h2>Identity</h2>
<% if @signed %>
  <p class="helper"><%= link_to(t(:edit_profile), Kopal.route.edit_profile,
    {:title => t(:edit_your_profile)}) %></p>
<% end %>
<% if @profile_user.created_identity? %>
  <table>
    <tr>
      <td><%=  t(:real_name).titlecase %></td>
      <td><%= @profile_user.feed.real_name %></td>
    </tr>
    <tr>
      <td><%= t :aliases %></td>
      <td><%= @profile_user.feed.aliases.join("<br />") %></td>
    </tr>
    <tr>
      <td><%= t :about_me %></td>
      <td><%= @profile_user.feed.description%></td>
    </tr>
    <tr>
      <td><%= t :gender %></td>
      <td><%= @profile_user.feed.gender %></td>
    </tr>
    <tr>
      <td><%= t :date_of_birth %></td>
      <td><%= @profile_user.dob_with_age %></td>
    </tr>
    <tr>
      <td><%= t :country %></td>
      <td><%= @profile_user.feed.country_living_with_code %></td>
    </tr>
    <tr>
      <td><%= t :city %></td>
      <td><%= @profile_user.feed.city_with_code %></td>
    </tr>
  </table>
<% else %>
  <p><%= t :user_has_not_yet_created_her_identity %></p>
<% end %>

<h2>Shoutbox</h2>

<p class="helper"><%= link_to "Write &raquo;", Kopal.route.profile_comment, :title => "Shoutbox for #{@profile_user}" %></p>

<% @comments.each do |c| %>
  <%= render :partial => 'comment_ribbon', :locals => { :comment => c } %>
<% end %>

<p class="helper"><%= link_to "View more &raquo;", Kopal.route.profile_comment, :title => "Shoutbox for #{@profile_user}" %></p>