<% content_for :surface_above do %>
  <h1><%= t(:hello) + ', ' + @profile_user.name %></h1>
  <blockquote class="status-message"><%= @profile_user.status_message %></blockquote>
<% end %>

<% content_for :surface_left do %>
  <%= image_tag home_path(:action => 'profile_image') %>
  <ul>
    <li><%= link_to(t(:home), root_path,
          {:title => t(:profile_homepage_of_person, :person => @profile_user.name)}) %></li>
    <li><%= link_to(t(:friend, :count => 2), friend_path,
          :title => t(:view_friends_of_person, :person => @profile_user.name)) %></li>
    <li><%= link_to(t(:sign_in), signin_path, {:title => t(:sign_in)}) %></li>
    <li><%= link_to(t(:sign_out), signout_path, {:title => t(:sign_out)}) %></li>
  </ul>
  <hr />
  <ul>
    <li><%= link_to("Add as friend", home_path(:action => 'foreign',
      :subject => 'friendship-request'),
      {:title => "Add #{@profile_user.name} as your friend."}) %></li>
    <!-- <li><%= link_to("Send a message") %></li> -->
  </ul>
<% end %>
