<% content_for :surface_right_content do %>
  <%= image_tag home_path(:action => 'profile_image') %>
<% end %>

<% if true or KopalPref.feed_name %>
  <table>
    <tr>
      <td><%=  t :name %></td>
      <td><%= Kopal["feed_name"] %></td>
    </tr>
    <tr>
      <td><%= t :aliases %></td>
      <td><%#KopalPref.feed_name_aliases.join('<br />') %></td>
    </tr>
    <tr>
      <td><%= t :about_me %></td>
      <td><%= Kopal["feed_description"] %></td>
    </tr>
    <tr>
      <td><%= t :gender %></td>
      <td><%= Kopal["feed_gender"] %></td>
    </tr>
    <tr>
      <td><%= t :date_of_birth %></td>
      <td><%= Kopal["feed_birth_time"] %></td>
    </tr>
    <tr>
      <td><%= t :country %></td>
      <td><%= Kopal["feed_country_living_code"] %></td>
    </tr>
  </table>
<% end %>