<style type="text/css">
  div#KopalRibbon {
    position: fixed;
    bottom: 0;
    background: #EEEEEE;
    border-top:1px gray solid;
    width: 100%;
    margin: 0;
    height: 20px;
    padding: 4px;
  }
  div#KopalRibbon span.on_left a.name_kopal {
    font-weight: bold;
    font-size: 16px;
    color: inherit;
    text-decoration: inherit;
  }
  div#KopalRibbon span.on_left a.name_kopal:hover {
    text-decoration: none;
    background: none;
  }
  div#KopalRibbon span.on_right {
    padding-right: 8px;
    float:right;
  }
</style>
<div id="KopalRibbon">
  <span class="on_left">
    <a href="http://code.google.com/p/kopal/" class="name_kopal"
       title="Kopal — Decentralised Social Networking">kopal</a>
  </span>
  <%#= link_to "Next", 'http://search.dhaani.net/person/next/', "Browse a random profile." %>
  <span class="on_right">
    <% unless @signed_user %>
      [<%= link_to "Sign-In", kopal_sign_in_path(:return_to => request.url), :title => "Sign-In to Kopal" %>]
    <% else %>
      <% if @signed_user.foreign_visitor? %>
        <strong><abbr title="<%=h @signed_user.kopal_identity %>"><%= @signed_user.kopal_identity.simplified %></abbr></strong>
      <% else %>
        <strong><%= @signed_user %></strong>
      <% end %>
      [<%= link_to "Sign-Out", kopal_sign_out_path(:return_to => request.url), :method => :delete, :title => "Sign-Out from Kopal" %>]
    <% end %>
  </span>
</div>